#red {
    background-color: red;
}

#blue {
    background-color: green;
} 

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
} 

#orange {
    background-color: orange;
} 

.text_container {
    color: black;
    text-align: center;
}
