#block1{
background-color: aquamarine;
}

#block2{
background-color: sandybrown;
}



#h1 {
font-style: italic;
background-color: chocolate;
color: white;
}

#h2 {
    background-color: azure;
    color: greenyellow;
}

#p {
    color: black;
}