#bmw {
    background-color: red;
}
#mercedes{
    background-color:green ;
}
#audi{
    background-color: silver;
    
} .text_container{
color: yellow;
}
#heading{
    background-color: green;
    color: aliceblue;
}

#paragraph{
    color: blue;
    background-color: white;
}

#pp{
    color: red;
}