html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background:white;
}

.fixed-bg {
  position: absolute;
  left:0%;
  top:0%;
  transform:translate(-50%, -50%);
  width:2400px;
  height:600px;
}

.text-img {
  display:none;
}

canvas {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);  
  aspect-ratio: 1;
  width: 100%;
  height: auto;
}

@media (max-aspect-ratio: 1) {
  canvas {
    width: auto;
    height: 100%;
  }
}