#container{
    position: absolute;
    width: 1200px;
    height: 700px;
    border: 2px solid #000;
    perspective:  600px;
}

#world{
    position: absolute;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
}

#square1{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    transform: translate3d(500px, 200px, 100px) rotateX(0deg);
    opacity: 0.5;
}
#square2{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: blue;
    transform: translate3d(500px, 200px,-100px) rotateX(0deg);
    opacity: 0.5;
}
#square3{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: red;
    transform: translate3d(500px, 100px,0px) rotateX(90deg);
    opacity: 0.5;
}
#square4{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: coral;
    transform: translate3d(500px, 300px,0px) rotateX(90deg);
    opacity: 0.5;
}
#square5{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    transform: translate3d(400px, 200px,0px) rotateY(90deg);
    opacity: 0.5;
}
#square6{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: sienna;
    transform: translate3d(600px, 200px,0px) rotateY(90deg);
    opacity: 0.5;
}